body {
    background-image: url("https://harish040805.github.io/anniyan/anniyancom.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

        .splash-screen {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: url('https://i.pinimg.com/736x/b3/8b/f7/b38bf71d8a4109737455a9f828d0e481.jpg');
            background-size: cover;
            background-position: center;
            z-index: 1;
            animation: fadeOut 6s forwards;
        }
        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        .main-content {
            opacity: 0;
            transition: opacity 0.5s;
        }
        .main-content.show {
            opacity: 1;
        }
        .Anniyan-com {
            color: #fff;
            font-size: 36px;
            text-shadow: 2px 2px 4px #000;
            padding-top: 20px;
        }
        .Anniyan-com-div{
            background-color:rgba(62, 142, 65, 0.5);
            margin-top: 5px;
        }
		.login-form {
            width: 350px;
            margin: 100px auto;
            padding: 20px;
            background-color:rgba(62, 142, 65, 0.5);
            border: 1px solid #666;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .login-form h2 {
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px 4px #000;
            margin-bottom: 20px;
        }
        .login-form input[type="text"], .login-form input[type="password"] {
            width: 94%;
            height: 40px;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #80ac81;
            color: #fff;
        }
        .Enter 
         {
            width: 170px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.037);
            color: #ce0000;
            border: 3px solid #ce0000;
            padding: 10px;
            cursor: pointer;
            position: absolute;
            right: 275px;
            bottom: 69px;
        }
        .Enter:hover
         {
            width: 170px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.037);
            color: #7d0000;
            border: 3px solid #7d0000;
            padding: 10px;
            cursor: pointer;
            position: absolute;
            right: 275px;
            bottom: 69px;
        }
        .login-form button[type="submit"] {
            width: 100%;
            height: 40px;
            background-color: #455c45;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .login-form button[type="submit"]:hover {
            background-color: #2f2f2f;
        }
        .Gender {
            width: 30%;
            height: 40px;
            background-color: #455c45;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .Gender:hover {
            background-color: #2f2f2f;
        }
        .error-message {
            color: #ff0000;
            text-align: center;
            margin-bottom: 20px;
        }
		.welcome-message{
			color: #fff;
		}
        #input-tag[type="number"] {
            color: white;
            background-color: transparent;
        }
        #story {
            color: white;
        }


